<header>
    <nav>
        <h2 class="logo">IMAGE UPLOAD</h2>
        <ul class="nav">
            <li class="nav-link"><a href="/">Upload</a></li>
            <li class="nav-link"><a href="/view">View Uploads</a></li>
        </ul>
    </nav>
</header>