<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload | Node.js</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="middle">
            <h1 class="h-1">Upload your Image</h1>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="select-files" type="file" name="images" />
            </form>
        </div>
    </div>
</body>

</html>